<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A Vainilla Library for Web Components">
  <meta name="author" content="Lucas M. Segurado">
  <meta name="theme-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="color-scheme" content="light dark">
  <!-- <meta http-equiv="Content-Security-Policy" content="require-trusted-types-for 'script'; trusted-types michijs"> -->
  <link rel="icon" type="image/svg+xml"
    href="https://raw.githubusercontent.com/michijs/art/main/logo-with-background-square.svg">
  <link rel="alternate icon" type="image/x-icon"
    href="https://raw.githubusercontent.com/michijs/art/main/logo-with-background-square.png">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <title>MichiJS</title>
</head>

<body>
  <header>
    <select onchange="location.href = this.value">
      <option value="/Next.html" {% if page.url==currentPage.url %} selected {% endif %}>Next</option>
      {% for currentPage in site.pages reversed %}
      {% if currentPage.url == "/" %}
      <option value="{{ currentPage.url }}" {% if page.url==currentPage.url %} selected {% endif %}>Latest</option>
      {% endif %}
      {% if currentPage.url contains "html" and currentPage.url != "/Next.html" %}
      <option value="{{ currentPage.url }}" {% if page.url==currentPage.url %} selected {% endif %}>{{
        currentPage.name
        | remove: ".md" }}</option>
      {% endif %}
      {% endfor %}
    </select>
    <a href="https://github.com/michijs/michijs">
      <button type="button">GitHub repository</button>
    </a>
  </header>
  <main>
    {{ content }}
  </main>
</body>

<script src="/assets/js/main.js" type="module"></script>
<script src="/assets/js/mermaid.js" type="module"></script>

</html>
